<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3>Account Signup</h3>

<form action="post" th:action="@{/signup}" th:object="${account}">
	<table border = "0">
		<tr>
			<td>Username</td>
			<td><input type="text" th:field="*{username}"/> 
			 <p th:each="error: ${#fields.errors('username')}"
			          th:text="${error}">Validation error</p>
				    </div></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" th:field="*{password}"/>
			 <p th:each="error: ${#fields.errors('password')}"
			          th:text="${error}">Validation error</p>
				    </div> </td>
		</tr>
		<tr>
			<td>Full Name</td>
			<td><input type="text" th:field="*{fullname}"/>
			 <p th:each="error: ${#fields.errors('fullname')}"
			          th:text="${error}">Validation error</p>
				    </div> </td>
		</tr>
		<tr>
			<td>email</td>
			<td><input type="text" th:field="*{email}"/>
			 <p th:each="error: ${#fields.errors('email')}"
			          th:text="${error}">Validation error</p>
				    </div> </td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="Sign Up"/> </td>
		</tr>
	</table>

</form>
</body>
</html>