<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h3>AccountLogin</h3>


	<form method="post" th:action="@{/login}">
		<span th:text="${error}"></span>
		<table border="0">
			<tr>
				<td>Username</td>
				<td><input type="text" name="username" /></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<td><input type="submit" value="Login" /> if no account<a
					th:href="${'/signup'}">Sign Up</a></td>
			</tr>
		</table>

	</form>

</body>
</html>