<!DOCTYPE html>
<html xlmns:th ="jttp://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h3>Cart Info</h3>
	<form method="post" th:action="${'/cart/update/'}">
	<table border="1">
		<tr>
			<th>Option</th>
			<th>Id</th>
			<th>Name</th>
			<th>Photo</th>
			<th>Price</th>
			<th>
				Quantity
				<input type="submit" value="update"/>
			</th>
			<th>Sub Total</th>
		</tr>
		<tr th:each="item: ${session.cart}">
			<td align="center">
				<a th:href="${'/cart/remove/' + item.product.id}">X</a>
			</td>
			<td th:text = "${item.product.id}"></td>
			<td th:text = "${item.product.name}"></td>
			
			<td>
				<img th:src="${'/images/' + item.product.photo}" width="120">
			</td>	
			<td th:text="${item.product.price}"></td>
			<td>
				<input type="number" th:value="${item.quantity}" name="quantity" style="width: 50px;"/>
			</td>
			<td th:text="${item.product.price * item.quantity}"></td>
		</tr>
		<tr>
			<td colspan="5">Total</td>
			<td th:text="${total}"></td>
		</tr>
	</table>
	</form>
	<br/>
	<a th:href="${'/'}">Continue Shopping</a><br/>
	<a th:href="${'/cart/checkout'}">Checkout</a>
</body>
</html>