<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>contact</title>

<body class="loginpage">
	<section class="site-hero site-hero-innerpage overlay"
		data-stellar-background-ratio="0.5"
		style="background-image: url(images/big_image_1.jpg);">
		<div class="container">
			<div
				class="row align-items-center site-hero-inner justify-content-center">
				<div class="col-md-12 text-center"></div>
			</div>
		</div>
	</section>
	<!-- END section -->

	<section class="site-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="mb-5">login Form</h2>
					<form th:action="@{/login}" method="post">
						<div th:if="${param.error}">
							<div class="alert alert-danger">Invalid username or
								password.</div>
						</div>
						<div th:if="${param.logout}">
							<div class="alert alert-info">You have been logged out.</div>
						</div>
						<div class="row">
							<div class="col-md-12 form-group">
								<label for="username">Email</label>: <input type="email"
									id="username" name="username" class="form-control"
									autofocus="autofocus" placeholder="Email" required />
							</div>
						</div>


						<div class="row">
							<div class="col-md-12 form-group">
								<label for="password">Password</label>: <input type="password"
									id="password" name="password" class="form-control"
									placeholder="Password" required minlength="8" />
							</div>
						</div>

						<!--   <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="message">Write Message</label>
                      <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                    </div>
                  </div> -->
						<div class="row">
							<div class="col-md-6 form-group">
								<!-- <input type="submit" value="login" class="btn btn-primary"> -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" value="Log In" /> <input
									type="hidden" name="${_csrf.parameterName}"
									value="${_csrf.token}" />
							</div>
						</div>
					</form>
					
					<a th:href="@{/signup}">Sign Up</a>
					<!-- <div class="media-body">
                <h3 class="mt-0"><a href="#">Presidential Room</a></h3>
                <ul class="room-specs">
                  <li><span class="ion-ios-people-outline"></span> 2 Guests</li>
                  <li><span class="ion-ios-crop"></span> 22 ft <sup>2</sup></li>
                </ul>
                <p>if you have not account register now </p><br>
                <p><a href="#" class="btn btn-primary btn-sm" style="width: 274px">Register</a></p>
                  <p>welcome to register your hotel if you do not register yet. </p>
                  <p><a href="#" class="btn btn-primary btn-sm" style="width: 274px">Register hotels</a></p>
              </div> -->
				</div>
				<div class="col-md-1"></div>
			</div>

		</div>

		</div>
	</section>
	<!-- END section -->


	<section class="section-cover" data-stellar-background-ratio="0.5"
		style="background-image: url(images/img_5.jpg);">
		<div class="container">
			<div class="row justify-content-center align-items-center intro">
				<div class="col-md-9 text-center element-animate">
					<div class="btn-play-wrap">
						<a href="https://vimeo.com/channels/staffpicks/93951774"
							class="btn-play popup-vimeo "><span class="ion-ios-play"></span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END section -->

	</div>
	<!-- loader -->
	

</body>
</html>