<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<h3>Product List</h3>
	<table border="1">
		<tr>

			<th>Id</th>
			<th>Name</th>
			<th>Photo</th>
			<th>Price</th>
			<th>Buy</th>
		</tr>
		<tr th:each="product:${products}">

			<td th:text="${product.id}"></td>
			<td th:text="${product.name}"></td>

			<td><img th:src="${'/images/' + product.photo}" width="120">
			</td>
			<td th:text="${product.price}"></td>
			<td><a th:href="${'/cart/buy/' + product.id}">Buy Now</a></td>
		</tr>
	</table>
</body>
</html>